html, body {
  width: 100%;
  height: 100%;
  background-color: #111111;
}

.counter {
  display: inline-block;
  border: 1px solid #f2f6f6;
  position: absolute;
  color: #f2f6f6;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.num {
  width: 60px;
}

.minus, .num, .plus {
  display: inline-block;
  font-size: 60px;
  text-align: center;
}

.minus, .plus {
  width: 50px;
  cursor: pointer;
  user-select: none;
  transition-duration: 0.5s;
}
.minus:hover, .plus:hover {
  background-color: #fff;
  color: #333;
}

.message {
  text-align: center;
  border-bottom: 3px solid;
  background-color: #ebc034;
}

.stock_info {
  text-align: center;
  height: 0px;
  overflow: hidden;
}

.box {
  margin: 10px;
  background-color: #3344ff;
  border: 1px solid;
  border-radius: 50px;
  cursor: pointer;
}

.open {
  height: 30px;
  padding: 30px;
}