* {
  border: solid 1px black;
}

body {
  height: 800px;
}

.top {
  height: 10%;
}

.neck {

  height: 40%;
}

.left,.right {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
}

.r1,.r2{
    position: absolute;
    display: inline-block;
    /* vertical-align: bottom; */
    height: 50%;
    width: 50%;
    bottom: 0px;
    box-sizing: border-box;
}

.r1{
    left: 0;
}

.r2{
    right: 0;
}

.middle {
  height: 20%;
}

.footer {
  height: 20%;
}
