<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"/>
    <link rel="stylesheet" href="index.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&amp;display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"/>
  </head>
  <body>
    <div id="app">
      <h1>我是{{name}}</h1>
      <hr/>
      <p v-bind:title="message">這是一個{{fruit}}</p>
      <p v-if="seen">謝謝{{person}}給我們這個東西</p>
      <p>我的興趣是{{skills}}</p>
      <ol>
        <li v-for="s in skills">{{s}}</li>
      </ol>
      <hr/>
      <p>{{message2}}</p>
      <button v-on:click="reverse">反轉message2字串 </button>
      <hr/>
      <input v-model="message3"/>
      <p>以下輸入：{{message3 }}</p>
      <hr/>
      <ol>
        <todo_menu v-for="item in todo_list" v-bind:todo="item" v-bind:key="item.id"></todo_menu>
      </ol>
      <hr/>
      <ul>
        <div v-for="(skill,id) in skills"> 
          <li>{{id+1}}.{{skill}} </li>
          <input v-model="message4[id].text"/>
        </div>
        <div>
          <li v-for="item in message4">{{item.skill}}:{{item.text}}</li>
        </div>
      </ul>
      <hr/>
      <input v-model="class_"/>
      <input v-model="styleObj['background-color']"/>
      <div :class="class_" :style="styleObj">123</div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="index.dev.js"></script>
  </body>
</html>