<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="index.css")
        link(href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet")


    body
        .frame
            .phone
                .top
                    .camera
                .screen
                    .page.page1 
                        h2 orange
                        .circle
                    .page.page2
                        h2 page2
                    .page.page3
                        h2 page3
                        
                .bottom
                    .home ▢
        .text "蘋果手機好棒棒"
        .phone_name iphone5
        .buttons
            h5(data-width="250px" data-height="380px") iphone5
            h5(data-width="250px" data-height="400px") iphone5s
            h5(data-width="270px" data-height="400px") iphone XS
            h5(data-width="260px" data-height="360px") iphone12 pro
            h4.wiggle 震動
            h4.turn 旋轉

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js")
        script(src="index.js")