<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        //- 注意！bootstrap的link要放在index.css的link上面，才不會覆蓋寫好的css
        link(rel="stylesheet",href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css",integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2",crossorigin="anonymous")
        link(rel="stylesheet", href="index.css")
        link(href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")

    body
        h1 使用vue-resource呼叫request，以及處理response
        hr
        #app1
            h2 1.使用$http.get載入文字
            h3 {{notify_data}}
        hr
        #app2
            h2 2.載入商品清單
            h3(v-if="items.length==0") 載入中...
            ul
                li(v-for="item in items") 
                    .name {{item.name}}
                    .price ${{item.price}}元
        hr
        #app3
            h2 載入hahow課程
            h3(v-if="classes.length==0") 載入中...
            ul
                li(v-for="class_ in classes")
                    img(:src="class_.coverImage.url", alt="")
                    .class_info
                        h4 課程：{{class_.title}} 
                        h5 價格：{{class_.price}}元
                        h5 老師：{{class_.owner.name}}
                        h5 募資進度：{{class_.numSoldTickets}} / {{class_.successCriteria.numSoldTickets}}
                        p {{class_.metaDescription}}
            

        //- 載入是有順序的，jquery -> popper.js -> bootstrap，最後才是我們的要載入的index.dev.js
        //- 有些bootstrap的CSS有套一些jquery，所以必須引進這些script，像是navbar的toggler才能夠打開捲軸
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js")
        script(src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1")


        script(src="index.dev.js")
                
                
                    