html, body {
  padding: 2%;
}

ul {
  padding: 0px;
  margin-top: 20px;
}

li {
  border-bottom: 1px solid #ccc;
  list-style: none;
}
li img, li .class_info {
  display: inline-block;
  vertical-align: middle;
}
li img {
  width: 300px;
}
li .class_info {
  width: 1000px;
}
li .class_info p {
  text-indent: 2em;
}

.name, .price {
  display: inline-block;
  padding: 5px;
}

.name {
  width: 100px;
}