html, body {
  width: 100%;
  height: 100%;
}

* {
  background-color: #3e3a39;
}

div {
  border: 2px solid;
  color: #f2f6f6;
}

.window {
  width: 600px;
  height: 600px;
  position: relative;
}

.block {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0px;
}
.block.a {
  left: 50px;
  animation: ani_a 2s infinite;
}
.block.b {
  left: 150px;
  animation: ani_b 2s infinite;
}
.block.c {
  left: 250px;
  animation: ani_c 2s infinite;
}
.block.d {
  left: 350px;
  animation: ani_d 2s infinite;
}
.block.e {
  left: 450px;
  animation: ani_e 2s infinite;
}

@keyframes ani_a {
  0% {
    bottom: 0px;
    background-color: #e72243;
  }
  50% {
    bottom: 100px;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes ani_b {
  0% {
    bottom: 0px;
    background-color: #f5b132;
  }
  50% {
    bottom: 100px;
    transform: rotate(0deg);
  }
  80% {
    bottom: 0px;
    transform: rotate(-180deg);
  }
  100% {
    bottom: 0px;
    transform: rotate(180deg);
  }
}
@keyframes ani_c {
  0% {
    bottom: 0px;
    background-color: green;
  }
  50% {
    bottom: 100px;
    transform: scale(2);
  }
  100% {
    bottom: 0px;
  }
}
@keyframes ani_d {
  0% {
    bottom: 0px;
    transform: translateX(-50%);
  }
  25% {
    bottom: 0px;
    transform: translateX(50%);
  }
  50% {
    bottom: 100px;
    transform: translateX(50%);
    background-color: #36b9c1;
  }
  75% {
    bottom: 100px;
    transform: translateX(-50%);
  }
  100% {
    bottom: 0px;
    transform: translateX(-50%);
  }
}
@keyframes ani_e {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 0px;
    transform: skewX(-45deg);
    transform-origin: 0% 100%;
  }
  50% {
    bottom: 100px;
    background-color: #f2f6f6;
  }
  75% {
    bottom: 0px;
    transform: skewX(45deg);
    transform-origin: 0% 100%;
  }
  100% {
    bottom: 0px;
  }
}