<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        //- 注意！bootstrap的link要放在index.css的link上面，才不會覆蓋寫好的css
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
        link(rel="stylesheet", href="index.css")
        link(href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")

    body
        //- 灰色頭標
        .jumbotron
            //- 自帶padding和rwd功能
            .container.a
                h1 Bootstap之RWD運用
                h3 其他bootstrap css用法
                p 我是一小段資訊
            .btn.btn-primary 了解更多
        .rwd
            h2 RWD中排版12格線
            .row
                .col-1 1
                .col-1 2
                .col-1 3
                .col-1 4
                .col-1 5
                .col-1 6
                .col-1 7
                .col-1 8
                .col-1 9
                .col-1 10
                .col-1 11
                .col-1 12
            .row
                .col-lg-3.col-md-4.col-sm-8.block
                    h3 第一區
                    h4 .col-lg-3.col-md-4.col-sm-8.block
                .col-lg-3.col-md-4.col-sm-4.block
                    h3 第二區
                    h4 .col-lg-3.col-md-4.col-sm-4.block
                .col-lg-3.col-md-4.col-sm-6.block
                    h3 第三區
                    h4 .col-lg-3.col-md-4.col-sm-6.block
                .col-lg-3.block
                    h3 第四區
                    h4 col-lg-3.block
            br
            .row
                .block.d-sm-none
                    h3 只有在xs大小，小於576px才顯示
                    h4 .block.d-sm-none
                .block.d-none.d-sm-block.d-md-none
                    h3 只有在sm大小，介於576px~768px才顯示
                    h4 .block.d-none.d-sm-block.d-md-none
                .block.d-none.d-md-block.d-lg-none
                    h3 只有在md大小，介於768px~992px才顯示
                    h4 .block.d-none.d-md-block.d-lg-none
                .block.d-none.d-lg-block.d-xl-none
                    h3 只有在lg大小，介於992px~1200才顯示
                    h4 .block.d-none.d-lg-block.d-xl-none
                .block.d-none.d-xl-block
                    h3 只有在xl大小，大於1200px才顯示
                    h4 .block.d-none.d-xl-block
            br

        hr
        .button
            h3 按鈕種類
            .btn.btn-danger 刪除按鈕
            .btn.btn-info 資訊按鈕
            .badge.badge-primary 徽章按鈕
            .btn.btn-warning.btn-lg 警告按鈕(大)
            .btn.btn-success.btn-sm 成功按鈕(小)

        
        
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js")
        script(src="index.dev.js")
                
                
                    