<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="index.css")
        link(href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")

    body
        .frame
            .nav
                img#fb(src="https://cdn.pixabay.com/photo/2016/11/05/08/42/facebook-1799691__340.png")
                input(placeholder="搜尋姓名、email")
            
            .bgi
            .info
                .headIcon
                h1 簡名彥
                p#add_intro 新增個人簡介
                hr
                span 動態消息 
                span 關於 
                span 朋友987

            .intro
                h2 簡介
                p
                    i.icon-briefcase 
                    span 在替代役訓練班工作<br>
                    br
                    i.icon-book
                    span 畢業於國立中興大學<br>
                    br
                    i.icon-book
                    span 曾就讀中壢高中<br>
        
        
                
                
                    