body {
  box-sizing: border-box;
  padding-bottom: 200px;
  border-top: solid 40px rgb(45, 117, 117);
  border-bottom:rgb(45, 117, 117) solid 40px;
  background-color: rgba(79, 179, 165, 0.103);
  overflow: hidden;
}

h2 {
  font-weight: 900;
}

span {
  font-weight: 100;
  font-size: small;
}

h5 {
  font-weight: bold;
  color: palegreen;
}

p {
  font-weight: lighter;
  letter-spacing: 2px;
}

.bg {
  position: absolute;
  font-size: 160px;
  top: 160px;
  color: rgba(255, 255, 255, 0.1);
}

.button {
  display: inline-block;
  background-color: seagreen;
  border-bottom: solid 1px rgb(16, 121, 16);
  padding: 20px;
  font-weight: bold;
  letter-spacing: 10px;
}

.container {
  background-color: slateblue;
  position: relative;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 400px;
  /* height: 200px; */
  border: solid 2px slategray;
  border-radius: 2%;
  margin-left: auto;
  margin-right: auto;
  top: 100px;
  overflow: hidden;
  box-shadow: 5px 5px rgba(54, 54, 110, 0.15);
}

.circle {
  border-radius: 100%;
  position: absolute;
}

.circle1 {
  right: -50px;
  top: -50px;
  width: 100px;
  height: 100px;
  background-color: rgba(14, 226, 241, 0.5);
}

.circle2 {
  width: 80px;
  height: 80px;
  right: 40px;
  bottom: -50px;
  border: solid greenyellow;
}

.nav_area {
  background-color: seagreen;
}

.a {
  /* position: absolute; */
  width: 60px;
  height: 60px;
  background-color: goldenrod;
  border: yellowgreen solid 3px;
  margin-right: 10px;
  /* padding: 20px; */
}

.a1 {
  color: greenyellow;
}
