<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="index.css")
        link(href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet")

    body
        .daybox
            label
                input#switch(type="checkbox")
                .top
                    svg.polyline(viewbox="0 0 190 100")
                        circle(cx=2, cy=50, r=1)  
                        text(x=2 y=50) 20°C
                        circle(cx=30, cy=30, r=1)
                        text(x=30 y=30) 30°C
                        circle(cx=60, cy=10, r=1)
                        text(x=60 y=10) 35°C
                        circle(cx=90, cy=25, r=1)
                        text(x=90 y=25) 32°C
                        circle(cx=120, cy=30, r=1)
                        text(x=120 y=30) 30°C
                        circle(cx=150, cy=40, r=1)
                        text(x=150 y=40) 26°C
                        circle(cx=180, cy=20, r=1)
                        text(x=180 y=20) 33°C
                        polyline(points="2,50 30,30 60,10 90,25 120,30 150,40 180,20")
                    .moon
                    .cloud
                        .rain
                        .rain.rain2
                        .rain.rain3
                    .temp 26°C
                    .info 
                        h4 桃園市觀音區崙坪里
                        h4 星期五 上午3:00
                .bottom
                    .day
                        .weekDay 星期日
                        .weather
                            .cloud
                                .rain
                                .rain.rain2
                                .rain.rain3
                    .day
                        .weekDay 星期一
                        .weather
                            .cloud
                    .day
                        .weekDay 星期二
                        .weather
                            svg.sun(viewbox="-50 -50 100 100")
                                circle(cx=0, cy=0 ,r=20)
                    .day
                        .weekDay 星期三
                        .weather
                            svg.sun(viewbox="-50 -50 100 100")
                                circle(cx=0, cy=0 ,r=20)
                    .day
                        .weekDay 星期四
                        .weather
                            svg.sun(viewbox="-50 -50 100 100")
                                circle(cx=0, cy=0 ,r=20)
                    .day
                        .weekDay 星期五
                        .weather
                            svg.sun(viewbox="-50 -50 100 100")
                                circle(cx=0, cy=0 ,r=20)
                                .cloud.suncloud
                    .day
                        .weekDay 星期六
                        .weather
                            svg.sun(viewbox="-50 -50 100 100")
                                circle(cx=0, cy=0 ,r=20)
                            